@mixin reset {
    margin: 0;
    padding: 0;
}

body {

    @include reset();
    display: flex;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: hsl(30, 38%, 92%);
}